<div class="container">
  <div class="row">
    <div class="col-10 mt-3">
      <h2>
        <td>ユーザー詳細</td>
        <td><%= link_to "編集", edit_user_path(@user), class: "btn btn-secondary " %></td>
      </h2>

       <table class="table table-striped users_table">
        <tr><td>社員番号</td><td><%= @user.number %></td></tr>
        <tr><td>名前</td><td><%= @user.name %></td></tr>
        <tr><td>メール</td><td><%= @user.email %></td></tr>
       </table>


        <h2>
          <td>投稿一覧</td>
          <td class="mt-auto"><%= link_to "＋", new_post_path, class: "btn btn-outline-secondary text-dark" %></td>
        </h2>
       <table class= "table table-hover post_table">
        <thead class="post_table">
          <tr>
            <th><!--時刻--></th>
            <th>名前</th>
            <th>実施エリア</th>
            <th>内容</th>
            <th><!--コメント数--></th>
          </tr>
         <thead>

         <tbody>
          <% @posts.each do |post| %>

          <tr class="post_table_body">

          <td>
            <%= post.datetime %>
          </td>

          <td>
            <%= post.user.number %>
            <%= post.user.name %>
          </td>



          <td>
            <%= post.area %>
          </td>

          <td>
            <%= post.body %>
          </td>

          <td>
            コメント(<%= post.comments.count %>)
          </td>

          <td>
            <%= link_to "編集", edit_post_path(post.user), class: "btn btn-secondary" %>
            <%= link_to "削除", post_path(post.user), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %>
          </td>

          </tr>

          <% end %>
        </tbody>

       </table>
      </div>
    </div>
  </div>





