<div class="container">
  <div class="row">
    <div class="col-10">
      <h2>
        <td>ユーザー詳細</td>
        <td><%= link_to "編集", edit_user_path(@user), class: "btn btn-secondary " %></td>
      </h2>

       <table class="table users_show">
        <tr><td>社員番号</td><td><%= @user.number %></td></tr>
        <tr><td>名前</td><td><%= @user.name %></td></tr>
        <tr><td>メール</td><td><%= @user.email %></td></tr>
       </table>


       <h2>投稿一覧</h2>
       <table class= "table users_index">
        <thead>
          <tr>
            <th></th>
            <th>社員番号</th>
            <th>名前</th>
            <th>実施エリア</th>
            <th>内容</th>
            <th></th>
          </tr>
         <thead>

         <tbody>
          <td>
            <%= @post.datetime %>
          </td>

          <td>
            <%= @post.user.number %>
          </td>

          <td>
            <%= @post.user.name %>
          </td>

          <td>
            <%= @post.area %>
          </td>

          <td>
            <%= @post.body %>
          </td>

          <td>
            <%= link_to "編集", edit_post_path(@post), class: "btn btn-secondary" %>
            <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %>
          </td>

         </tbody>

       </table>
      </div>
    </div>
  </div>





