<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2 class="text-center">投稿編集</h2>
        <%= form_with model:@post, local: true do |f| %>
        <table>
        <thead></thead>
        <tbody>
        <tr>
        <div>
          <td><%= f.label "実施エリア" %></td>
          <td><%= f.text_field :area, size: "40" %></td>
        </div>
        </tr>

        <tr>
        <div>
          <td><%= f.label "タグ" %></td>
          <td><%= f.text_field :tag_ids, value: @tag_list, placeholder: "複数タグを登録する場合は','で区切る", size: "40" %></td>
        </div>
        </tr>

        <tr>
        <div>
          <td><%= f.label "内容" %></td>
          <td><%= f.text_area :body, size: "43" %></td>
        </div>
      </tr>
      </tbody>
      </table>

      <div>
        <td><%= f.submit "更新", class: "btn btn-primary w-75 ml-5 mt-2" %></td>
      </div>

      <% end %>

      <td><%= link_to "戻る", post_path(@post), class: "btn btn-secondary w-75 ml-5 mt-2" %></td>
    </div>
  </div>
</div>