<h1>投稿</h1>

<%= form_with model:@post, local:true do |f| %>

<div>
  <%= f.label "実施エリア" %>
  <%= f.text_field :area %>
</div>

<div>
  <%= f.label "タグ" %>
  <%= f.text_field :tag_ids, id:"tag_ids" %>
</div>

<div>
  <%= f.label "内容" %>
  <%= f.text_area :body %>
</div>

<div>
  <%= f.submit "投稿する", class: "btn btn-success" %>
</div>


<% end %>