<h1>投稿詳細</h1>

<table class= "table">
  <thead>
    <tr>
      <th></th>
      <th>社員番号</th>
      <th>名前</th>
      <th>実施エリア</th>
      <th>タグ</th>
      <th>内容</th>
      <th></th>
      <th></th>
    </tr>
  <thead>

  <tbody>
    <td>
      <%= @post.datetime %>
    </td>

    <td>
      <%= @post.user.number %>
    </td>

    <td>
      <%= @post.user.name %>
    </td>

    <td>
      <%= @post.area %>
    </td>
    
    <td>
      <% @post.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>  
    </td>

    <td>
      <%= @post.body %>
    </td>

    <td>
      <% if @post.stamped_by?(current_user) %>
        <%= link_to post_stamps_path(@post), method: :delete, class: "fas fa-check-square fa-2x check_gleen" do %>
        <% end %>
        (<%= @post.stamps.count %>)
      <% else %>
        <%= link_to post_stamps_path(@post), method: :post, class: "far fa-square fa-2x" do %>
        <% end %>
        (<%= @post.stamps.count %>)
      <% end %>
    </td>

    <td>
      <%= link_to "編集", edit_post_path(@post) %>
      <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "削除しますか？"} %>
    </td>
  </tbody>

</table>

<h3>コメント(<%= @post.comments.count %>)</h3>
<table class= "table">

  <% @post.comments.each do |comment| %>
  <tr>
  <td>
      <%= comment.user.name %>
  </td>

  <td>
    <%= comment.body %>
      <% if current_user == comment.user %>
      	<td><%= link_to "削除", post_comment_path(comment.post_id, comment.id), data: {confirm: "このコメントを削除しますか？"}, class: 'btn-sm btn-danger', method: :delete %></td>
    	<% end %>

  </td>
  </tr>
  <% end %>
  </table>

  <%= form_with model:[@post,@comment], local: true do |f| %>
    <%= f.text_area :body, size:"90x5" %><br>
    <%= f.submit "コメントを投稿"%>
  <% end %>




