
<header>
  <% if user_signed_in? %>
    <%= link_to "Home",user_path(current_user),class: "fas fa-home nav-link" %>
    <!--<li>%= link_to "Users",users_path,class: "fas fa-users nav-link text-light" %></li>-->
    <!--<li>%= link_to "Books",books_path ,class: "fas fa-book-open nav-link text-light"%></li>-->
    <%= link_to "logout", destroy_user_session_path, method: :delete,class: "fas fa-sign-out-alt nav-link" %>
  <% else %>
    <%= link_to "Home",root_path,class: "fas fa-home nav-link" %>
    <%= link_to "sign up", new_user_registration_path,class: "fas fa-user-plus nav-link" %>
    <%= link_to "login", new_user_session_path ,class: "fas fa-sign-in-alt nav-link"%>
  <% end %>
</header>